/* NAV BAR SECTION */
body {
    margin: 0;
    font-family: 'Segoe UI', sans-serif;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 40px;
    background: linear-gradient(to right, #0f172a, #1e293b);

}

.logo {
    color: white;
    font-size: 22px;
    font-weight: bold;
    text-decoration: none;
}

.nav-links a {
    color: white;
    text-decoration: none;
    margin-left: 25px;
    font-size: 16px;
    transition: 0.3s;
}

.nav-links a:hover {
    color: #38bdf8;
}

/*ABOUT SECTION */
.about-section {
    padding: 80px 40px;
    background: #f8fafc;
}

.about-container {
    max-width: 1100px;
    margin: auto;
}

.about-container h1 {
    text-align: center;
    font-size: 36px;
    margin-bottom: 20px;
}

.about-intro {
    text-align: center;
    font-size: 18px;
    color: #555;
    margin-bottom: 50px;
}

.about-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 30px;
}

.about-card {
    background: white;
    padding: 25px;
    border-radius: 10px;
    box-shadow: 0 5px 20px rgba(0,0,0,0.08);
    transition: 0.3s ease;
}

.about-card:hover {
    transform: translateY(-8px);
}