body {
    margin: 0;
    font-family: 'Segoe UI', sans-serif;
    background: linear-gradient(
    135deg,
    #f8f9fa 0%,
    #e9f1ff 50%,
    #fdfdfd 100%
  );
}

/* NAV BAR SECTION */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 40px;
    background: linear-gradient(to right, #0f172a, #1e293b);
}

.logo {
    color: white;
    font-size: 22px;
    font-weight: bold;
    text-decoration: none;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 30px;
}

.nav-links a {
    color: white;
    text-decoration: none;
    font-size: 16px;
    transition: 0.3s;
}

.nav-links a:hover {
    color: #38bdf8;
}

/* HERO SECTION */
.hero {
    height: 80vh;
    background: linear-gradient(to right, #0f172a, #1e293b);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    padding: 20px;
    overflow:hidden;
}

.hero-content h1 {
    font-size: 36px;
    margin-bottom: 20px;
}

.hero-content h2 {
    font-size: 18px;
    margin-bottom: 70px;
    color: #cbd5e1;
}

.analyze-btn {
    padding: 12px 30px;
    background-color: #38bdf8;
    color: black;
    font-weight: bold;
    text-decoration: none;
    border-radius: 6px;
    transition: 0.3s ease;
}

.analyze-btn:hover {
    background-color: white;
    color: black;
}

/* FEATURES SECTION */
.features {
    padding: 60px 40px;
    text-align: center;
    background-color: #f8fafc;
}

.features h2 {
    margin-bottom: 40px;
    font-size: 32px;
}

.feature-cards {
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
}

.card {
    background: white;
    padding: 25px;
    width: 280px;
    border-radius: 10px;
    box-shadow: 0 5px 20px rgba(0,0,0,0.1);
    transition: 0.3s ease;
}

.card:hover {
    transform: translateY(-10px);
}
