/* NAV BAR SECTION */
body {
    margin: 0;
    font-family: 'Segoe UI', sans-serif;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 40px;
    background: linear-gradient(to right, #0f172a, #1e293b);

}

.logo {
    color: white;
    font-size: 22px;
    font-weight: bold;
    text-decoration: none;
}

.nav-links a {
    color: white;
    text-decoration: none;
    margin-left: 25px;
    font-size: 16px;
    transition: 0.3s;
}

.nav-links a:hover {
    color: #38bdf8;
}

/* HOW SECTION */
.how-section {
    padding: 80px 40px;
    background: #ffffff;
}

.how-container {
    max-width: 1100px;
    margin: auto;
    text-align: center;
}

.how-container h1 {
    font-size: 36px;
    margin-bottom: 15px;
}

.how-intro {
    font-size: 18px;
    color: #555;
    margin-bottom: 60px;
}

.steps {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 40px;
}

.step {
    background: #f8fafc;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 5px 20px rgba(0,0,0,0.08);
    transition: 0.3s ease;
}

.step:hover {
    transform: translateY(-10px);
}

.step-number {
    width: 50px;
    height: 50px;
    background: #38bdf8;
    color: black;
    font-weight: bold;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto 20px auto;
    font-size: 18px;
}